
* {
    margin: 0;
    padding: 0;
}

$test-border: 1px solid red;

$bg-gray: #EDEDED;

body {
    background: $bg-gray;
    font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STHeiti,\\534E\6587\7EC6\9ED1,sans-serif;   
}

//.nav-global
.nav-global {
    background: #080808;
    height: 100px;
    width: 100%;
    .wrapper {
        display: block;
        width: 1220px;
        margin: 0 auto;
        border: 1px solid red;
        div {
            display: inline-block;
        }
        a {
            line-height: 100px;
            color: #c8c8c8;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            color: #fff;
        }
        .logo {
                a {
                display: inline-block;
                background-position-x: 0px;
                background-position-x: 0px;
                background: url("./img/global-logo.png") no-repeat 50%;
                height: 50px;
                width: 50px;
            }
        }
        .link1 {
            a {
                padding: 0 25px;
                font-size: 14px;
            }
        }
    }
}

//nav-sub 
.nav-sub {
    width: 100%;
    height: 90px;
    
    .wrapper {
        width: 1220px;
        margin: 0 auto;
        div {
            display: inline-block;
            a {
                line-height: 90px;
                text-decoration: none;
                color: #666;
                font-size: 14px;
                padding: 0 20px;
            }
            a:hover {
                color: #5079d9;
            }
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
}

//page 
.page {
    width: 1220px;
    margin: 0 auto;
}

.activity {
    width: 1220px;
    height: 200px;
    display: flex;
    margin: 27px 0;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hot-commodity {
    height: 490px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    h5 {
        line-height: 60px;
        background: #fafafa;
        font-size: 100%;
        font-weight: 400;
        padding-left: 30px;
    }
    .wrapper {
        height: 430px;
        display: flex;
        a {
            width: 25%;
            height: 100%;
            text-align: center;
            background: white;
            border-left: 1px solid rgba(0,0,0,.1);
            border-top: 1px solid rgba(0,0,0,.1);
            border-bottom: 1px solid rgba(0,0,0,.1);
            text-decoration: none;
            img {
                margin-top: 50px;
            }
            .info {
                h6 {
                    font-size: 16px;
                    line-height: 1.2;
                    color: #424242;
                }
                p {
                    padding-top: 7px;
                    font-size: 12px;
                    line-height: 1.2;
                    color: #b2b2b2;
                }
            }
            .choose {

            }
            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                height: 18px;
                margin: 30px auto;
                li {
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                    border: 3px solid rgba(0, 0, 0, .1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 6px;
                    div {
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                        background: url("./img/20X20 (1).jpg");
                    }
                }
                li:hover {
                    border: 3px solid #b2b2b2; 
                }
            }
            .operator {
                span {
                    color: #DE4037;
                    line-height: 30px;
                    font-size: 20px;
                }
                span:hover {

                }
            }
        }
        a:nth-child(1) {
             border-left: none;           
        }
    }
}

.official-selection {
    width: 1220px;
    height: 920px;
    margin-top: 30px;
    border-radius: 4px;
    overflow: hidden;
    h5 {
        line-height: 60px;
        background: #fafafa;
        font-size: 100%;
        font-weight: 400;
        padding-left: 30px;
    } 
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        a {
            width: 305px;
            height: 430px;
            background: white;
            text-align: center;
            img {

            }
        }
        a:nth-child(1) {
            width: 610px;
        }
        a:nth-child(2) {
            border: 1px solid red;
        }
    }
}

.brand-selection {
    width: 1220px;
    height: 920px;
    margin-top: 30px;
    border-radius: 4px;
    overflow: hidden;
    h5 {
        line-height: 60px;
        background: #fafafa;
        font-size: 100%;
        font-weight: 400;
        padding-left: 30px;
    } 
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        a {
            width: 305px;
            height: 430px;
            background: white;
            text-align: center;
            img {
                
            }
        }
        a:nth-child(1) {
            width: 610px;
        }
    }
}

.smartisan-trends {
    margin-top: 30px;
    border-radius: 4px;
    overflow: hidden;
    width: 1220px;
    height: 260px;
    border: 1px solid rgba(0, 0, 0, 0.1);   
    h5 {
        line-height: 60px;
        background: #fafafa;
        font-size: 100%;
        font-weight: 400;
        padding-left: 30px;
    }
    .wrapper {
        display: flex;
        overflow: hidden;
        a {
            img {
                width: 305px;
                overflow: hidden;
                border-top: 1px solid rgba(0, 0, 0, 0.1); 
            }
        }
    }
}

.smartisan-APPs {
    height: 420px;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
    overflow: hidden;
    .container {
        height: 60px;
        display: flex;
        width: 1220px;
        justify-content: space-between;
        background: #fafafa;
        h5 {
            line-height: 60px;
            font-size: 100%;
            font-weight: 400;
            padding-left: 30px;
        }
        .all-apps {
            line-height: 60px;
            background: #fafafa;
            font-size: 100%;
            font-weight: 400;
            padding-right: 15px;
        }
    }
    .wrapper {
        display: flex;
        a {
            width: 305px;
            border-left: 1px solid rgba(0,0,0,.1);
            border-top: 1px solid rgba(0,0,0,.1);
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        a:nth-child(1) {
            border-left: none; 
        }
    }
}

.forum-selection {
    height: 422px;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
    overflow: hidden;
    .container {
        height: 60px;
        display: flex;
        width: 1220px;
        justify-content: space-between;
        background: #fafafa;
        h5 {
            line-height: 60px;
            font-size: 100%;
            font-weight: 400;
            padding-left: 30px;
        }
        .go-to-forum {
            margin: 14px 20px 0 0;
            display: inline-block;
            text-decoration: none;
            width: 102px;
            height: 32px;
            line-height: 32px;
            background: linear-gradient(#fcfcfc,#f5f5f5);
            font-size: 14px;
            border: 1px solid #dcdcdc;
            color: #5079d9;
            border-radius: 5px;
            text-align: center;
        }
    }
    .wrapper {
        display: flex;
        a {
            width: 305px;
            border-left: 1px solid rgba(0,0,0,.1);
            border-top: 1px solid rgba(0,0,0,.1);
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        a:nth-child(1) {
            border-left: none; 
        }
    }
}

footer {
    background: #FAFAFA;
    .site-info {
        width: 1220px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; 
        padding: 100px 0 32px;
        border-bottom: 1px solid #e6e6e6;
        .info-contents {
            display: flex;
            li {
                width: 150px;
                display: flex;
                flex-flow: column nowrap;
                h3 {
                    color: #646464;
                    font-size: 12px;
                    padding: 0 0 14px;
                }
                a {
                    color: #969696;
                    font-size: 12px;
                    padding: 6px 0;
                    text-decoration: none;
                }
                a:hover {
                    color: #5079d9;
                }
            }
        }
        .service {
            text-align: right;
            li:nth-child(1) {
                list-style: none;
                a {
                    color: #646464;
                    text-decoration: none;
                    font-size: 30px;
                }
            }
            li:nth-child(2) {
                list-style: none;
                p {
                    margin-top: 8px;
                    color: #c3c3c3;
                    font-size: 12px;
                }
            }
            li:nth-child(3) {
                list-style: none;
                a {
                    margin-top: 8px;
                    display: inline-block;
                    text-decoration: none;
                    width: 102px;
                    height: 32px;
                    line-height: 32px;
                    background: linear-gradient(#fcfcfc,#f5f5f5);
                    font-size: 14px;
                    border: 1px solid #dcdcdc;
                    color: #5079d9;
                    border-radius: 5px;
                    text-align: center;
                }
            }
        }
    }
    .copyright {
        width: 1220px;
        margin: 0 auto;
        padding: 40px 0;
        .wrapper {
            width: 1220px;
            p {
                height: 15px;
                line-height: 15px;
                color: #757575;
                font-size: 12px;
                display: inline-block;
            }
            ul {
                display: inline-block;
                margin-left: 12px;
                li {
                    display: inline-block;
                    height: 13px;
                    a {
                        color: #5079d9;
                        text-decoration: none;
                        font-size: 12px;
                        line-height: 12px;
                        border-left: 1px solid #ccc;
                        padding: 1px 10px 0;
                    }
                }
            }
        }
        .container {
            margin-top: 20px;
            font-size: 12px;
            color: #bdbdbd;
            span {
                margin-right: 20px;
            }
        }
    }
}