* {
  margin: 0;
  padding: 0; }

body {
  background: #EDEDED;
  font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STHeiti,\\534E\6587\7EC6\9ED1,sans-serif; }

.nav-global {
  background: #080808;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center; }
  .nav-global .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin: 0 auto; }
    .nav-global .wrapper a {
      color: #c8c8c8;
      text-decoration: none;
      cursor: pointer; }
    .nav-global .wrapper a:hover {
      color: #fff; }
    .nav-global .wrapper .logo a {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      width: 50px;
      background: url("./img/global-logo.png");
      background-size: cover; }
    .nav-global .wrapper .link1 {
      margin-left: 80px; }
      .nav-global .wrapper .link1 a {
        padding: 0 25px;
        font-size: 14px; }
    .nav-global .wrapper .link2 a:nth-child(1) {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      background: url("./img/account-icon.png");
      background-position: -154px 0; }
    .nav-global .wrapper .link2 a:nth-child(1):hover {
      background-position: -4px 0; }
    .nav-global .wrapper .link2 a:nth-child(2) {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 20px;
      background: url("./img/account-icon.png");
      background-position: -150px -22px;
      margin-left: 40px; }
    .nav-global .wrapper .link2 a:nth-child(2):hover {
      background-position: 0 -22px; }

.nav-sub {
  width: 100%;
  height: 90px; }
  .nav-sub .wrapper {
    width: 1220px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .nav-sub .wrapper div {
      display: inline-block; }
      .nav-sub .wrapper div a {
        text-decoration: none;
        color: #666;
        font-size: 14px; }
      .nav-sub .wrapper div a:hover {
        color: #5079d9; }
    .nav-sub .wrapper .left {
      float: left; }
      .nav-sub .wrapper .left a {
        line-height: 90px;
        padding: 0 20px; }
    .nav-sub .wrapper .right {
      display: none; }

.nav-sub.active {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  background: #e7e7e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  height: 60px;
  transition: opacity .3s ease-in;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: initial; }
  .nav-sub.active .wrapper {
    width: 1220px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .nav-sub.active .wrapper div {
      display: inline-block; }
      .nav-sub.active .wrapper div a {
        text-decoration: none;
        color: #666;
        font-size: 14px; }
      .nav-sub.active .wrapper div a:hover {
        color: #5079d9; }
    .nav-sub.active .wrapper .left {
      float: left; }
      .nav-sub.active .wrapper .left a {
        line-height: 60px;
        padding: 0 20px; }
    .nav-sub.active .wrapper .right {
      height: 60px;
      display: flex;
      width: 94.45px;
      align-items: center;
      justify-content: space-between; }
      .nav-sub.active .wrapper .right a:nth-child(1) {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("./img/account-icon.png");
        background-position: -154px 0; }
      .nav-sub.active .wrapper .right a:nth-child(2) {
        display: inline-block;
        width: 30px;
        height: 20px;
        background: url("./img/account-icon.png");
        background-position: -150px -22px; }

.page {
  z-index: 0;
  width: 1220px;
  margin: 0 auto; }

.swiper-container {
  z-index: 0; }
  .swiper-container .swiper-wrapper a {
    border-radius: 4px;
    height: 500px; }
    .swiper-container .swiper-wrapper a img {
      overflow: hidden;
      border-radius: 4px;
      width: 1220px;
      height: 554px;
      position: relative; }
    .swiper-container .swiper-wrapper a img:nth-child(2) {
      position: absolute;
      top: 0; }
    .swiper-container .swiper-wrapper a img:nth-child(3) {
      top: 0;
      position: absolute; }
  .swiper-container .swiper-wrapper a:nth-child(2) img:nth-child(1) {
    position: absolute;
    top: 0; }

.activity {
  width: 1220px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 27px auto;
  overflow: hidden; }
  .activity ul {
    width: 100%;
    display: flex; }
    .activity ul li {
      width: 25%;
      list-style: none; }
      .activity ul li a {
        width: 100%; }
        .activity ul li a img {
          width: 100%; }

.hot-commodity {
  height: 490px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .hot-commodity h5 {
    line-height: 60px;
    background: #fafafa;
    font-size: 100%;
    font-weight: 400;
    padding-left: 30px; }
  .hot-commodity .product-content {
    background: white;
    height: 428px;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .hot-commodity .product-content .part {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      list-style: none;
      width: 25%;
      height: 428px; }
      .hot-commodity .product-content .part img {
        display: block;
        margin: 30px auto 40px; }
      .hot-commodity .product-content .part .info h6 {
        margin-top: -34px;
        overflow: hidden;
        font-size: 16px;
        line-height: 1.2;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #424242;
        font-weight: normal;
        text-align: center; }
      .hot-commodity .product-content .part .info p {
        overflow: hidden;
        padding-top: 7px;
        font-size: 12px;
        line-height: 1.2;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #b2b2b2;
        text-align: center; }
      .hot-commodity .product-content .part .dot-list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        margin: 20px 0;
        z-index: 9999; }
        .hot-commodity .product-content .part .dot-list li {
          display: inline-block;
          position: relative;
          margin: 0 6px;
          box-sizing: border-box;
          width: 16px;
          height: 16px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer; }
          .hot-commodity .product-content .part .dot-list li .outer {
            box-sizing: border-box;
            border: 3px solid #e5e5e5;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            position: relative;
            top: 1px;
            left: 1px; }
            .hot-commodity .product-content .part .dot-list li .outer span {
              display: inline-block;
              overflow: hidden;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              box-sizing: border-box;
              border-radius: 50%;
              width: 8px;
              height: 8px;
              background: url("./img/20X20.jpg");
              background-position: 50%;
              background-size: contain; }
        .hot-commodity .product-content .part .dot-list li:hover .outer {
          margin: 0;
          border: 3px solid #b2b2b2;
          width: 16px;
          height: 16px;
          z-index: 20; }
      .hot-commodity .product-content .part .operator .detail-btn {
        display: none; }
      .hot-commodity .product-content .part .operator .product-price {
        text-align: center;
        position: relative;
        top: 6px;
        display: inherit; }
        .hot-commodity .product-content .part .operator .product-price i {
          color: #de4037;
          font-weight: 700;
          font-size: 14px;
          font-style: normal;
          line-height: 1.2; }
        .hot-commodity .product-content .part .operator .product-price span {
          font-family: Arial;
          font-size: 18px;
          line-height: 1.2;
          text-align: center;
          color: #de4037; }
      .hot-commodity .product-content .part .product-cover-link {
        display: inline-block;
        height: 428px;
        width: 305px;
        position: relative;
        top: -362px;
        z-index: 4; }
    .hot-commodity .product-content .part:nth-child(1) .dot-list li:nth-child(1) .outer span {
      background: url("./img/20X20 (2).jpg"); }
    .hot-commodity .product-content .part:nth-child(1) .dot-list li:nth-child(2) .outer span {
      background: url("./img/20X20 (3).jpg"); }
    .hot-commodity .product-content .part:nth-child(1) .dot-list li:nth-child(3) .outer span {
      background: url("./img/20X20 (5).jpg"); }
    .hot-commodity .product-content .part:nth-child(1) .dot-list li:nth-child(4) .outer span {
      background: url("./img/20X20 (6).jpg"); }
    .hot-commodity .product-content .part:nth-child(2) .dot-list li:nth-child(1) .outer span {
      background: url("./img/20X20 (5).jpg"); }
    .hot-commodity .product-content .part:nth-child(3) .dot-list li:nth-child(2) .outer span {
      background: url("./img/20X20 (5).jpg"); }
    .hot-commodity .product-content .part:nth-child(4) {
      border-right: none; }
      .hot-commodity .product-content .part:nth-child(4) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (4).jpg"); }
    .hot-commodity .product-content .part:hover .operator .detail-btn {
      display: flex;
      justify-content: space-around; }
      .hot-commodity .product-content .part:hover .operator .detail-btn a:nth-child(1) {
        display: inline-block;
        height: 30px;
        width: 100px;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        font-size: 12px;
        color: #646464;
        background: #f9f9f9;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 30px;
        margin-left: 40px; }
      .hot-commodity .product-content .part:hover .operator .detail-btn a:nth-child(2) {
        display: inline-block;
        height: 30px;
        width: 100px;
        border: 1px solid #5c81e3;
        border-radius: 4px;
        font-size: 12px;
        color: #fff;
        background: #678ee7;
        background-image: linear-gradient(180deg, #678ee7, #5078df);
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 30px;
        margin-right: 40px; }
    .hot-commodity .product-content .part:hover .operator .product-price {
      display: none; }

.official-selection {
  width: 1220px;
  height: 916px;
  margin-top: 30px;
  border-radius: 4px;
  overflow: hidden; }
  .official-selection h5 {
    line-height: 60px;
    background: #fafafa;
    font-size: 100%;
    font-weight: 400;
    padding-left: 30px; }
  .official-selection .wrapper {
    background: white;
    display: flex;
    flex-flow: row wrap; }
    .official-selection .wrapper .product-content1 {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 608px;
      height: 428px;
      overflow: hidden;
      display: flex; }
      .official-selection .wrapper .product-content1 .part {
        list-style: none;
        width: 305px;
        height: 428px; }
        .official-selection .wrapper .product-content1 .part img {
          display: block;
          margin: 30px auto 40px; }
        .official-selection .wrapper .product-content1 .part .info h6 {
          margin-top: -34px;
          overflow: hidden;
          font-size: 16px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #424242;
          font-weight: normal;
          text-align: center; }
        .official-selection .wrapper .product-content1 .part .info p {
          overflow: hidden;
          padding-top: 7px;
          font-size: 12px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #b2b2b2;
          text-align: center; }
        .official-selection .wrapper .product-content1 .part .dot-list {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px;
          margin: 20px 0;
          z-index: 9999; }
          .official-selection .wrapper .product-content1 .part .dot-list li {
            display: inline-block;
            position: relative;
            margin: 0 6px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer; }
            .official-selection .wrapper .product-content1 .part .dot-list li .outer {
              box-sizing: border-box;
              border: 3px solid #e5e5e5;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              position: relative;
              top: 1px;
              left: 1px; }
              .official-selection .wrapper .product-content1 .part .dot-list li .outer span {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                box-sizing: border-box;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: url("./img/20X20.jpg");
                background-position: 50%;
                background-size: contain; }
          .official-selection .wrapper .product-content1 .part .dot-list li:hover .outer {
            margin: 0;
            border: 3px solid #b2b2b2;
            width: 16px;
            height: 16px;
            z-index: 20; }
        .official-selection .wrapper .product-content1 .part .operator .detail-btn {
          display: none; }
        .official-selection .wrapper .product-content1 .part .operator .product-price {
          text-align: center;
          position: relative;
          top: 6px;
          display: inherit; }
          .official-selection .wrapper .product-content1 .part .operator .product-price i {
            color: #de4037;
            font-weight: 700;
            font-size: 14px;
            font-style: normal;
            line-height: 1.2; }
          .official-selection .wrapper .product-content1 .part .operator .product-price span {
            font-family: Arial;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;
            color: #de4037; }
        .official-selection .wrapper .product-content1 .part .product-cover-link {
          display: inline-block;
          height: 428px;
          width: 305px;
          position: relative;
          top: -362px;
          z-index: 4; }
      .official-selection .wrapper .product-content1 .part:nth-child(1) {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
        .official-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(1) .outer span {
          background: url("./img/20X20 (2).jpg"); }
        .official-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(2) .outer span {
          background: url("./img/20X20 (3).jpg"); }
        .official-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(3) .outer span {
          background: url("./img/20X20 (5).jpg"); }
        .official-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(4) .outer span {
          background: url("./img/20X20 (6).jpg"); }
      .official-selection .wrapper .product-content1 .part:nth-child(2) .dot-list li:nth-child(1) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .official-selection .wrapper .product-content1 .part:nth-child(3) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .official-selection .wrapper .product-content1 .part:nth-child(4) {
        border-right: none; }
        .official-selection .wrapper .product-content1 .part:nth-child(4) .dot-list li:nth-child(2) .outer span {
          background: url("./img/20X20 (4).jpg"); }
      .official-selection .wrapper .product-content1 .part:hover .operator .detail-btn {
        display: flex;
        justify-content: space-around; }
        .official-selection .wrapper .product-content1 .part:hover .operator .detail-btn a:nth-child(1) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #e1e1e1;
          border-radius: 4px;
          font-size: 12px;
          color: #646464;
          background: #f9f9f9;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-left: 40px; }
        .official-selection .wrapper .product-content1 .part:hover .operator .detail-btn a:nth-child(2) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #5c81e3;
          border-radius: 4px;
          font-size: 12px;
          color: #fff;
          background: #678ee7;
          background-image: linear-gradient(180deg, #678ee7, #5078df);
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-right: 40px; }
      .official-selection .wrapper .product-content1 .part:hover .operator .product-price {
        display: none; }
    .official-selection .wrapper .product-content2 {
      display: flex; }
      .official-selection .wrapper .product-content2 .part {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        width: 305px;
        height: 428px; }
        .official-selection .wrapper .product-content2 .part img {
          display: block;
          margin: 30px auto 40px; }
        .official-selection .wrapper .product-content2 .part .info h6 {
          margin-top: -34px;
          overflow: hidden;
          font-size: 16px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #424242;
          font-weight: normal;
          text-align: center; }
        .official-selection .wrapper .product-content2 .part .info p {
          overflow: hidden;
          padding-top: 7px;
          font-size: 12px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #b2b2b2;
          text-align: center; }
        .official-selection .wrapper .product-content2 .part .dot-list {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px;
          margin: 20px 0;
          z-index: 9999; }
          .official-selection .wrapper .product-content2 .part .dot-list li {
            display: inline-block;
            position: relative;
            margin: 0 6px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer; }
            .official-selection .wrapper .product-content2 .part .dot-list li .outer {
              box-sizing: border-box;
              border: 3px solid #e5e5e5;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              position: relative;
              top: 1px;
              left: 1px; }
              .official-selection .wrapper .product-content2 .part .dot-list li .outer span {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                box-sizing: border-box;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: url("./img/20X20.jpg");
                background-position: 50%;
                background-size: contain; }
          .official-selection .wrapper .product-content2 .part .dot-list li:hover .outer {
            margin: 0;
            border: 3px solid #b2b2b2;
            width: 16px;
            height: 16px;
            z-index: 20; }
        .official-selection .wrapper .product-content2 .part .operator .detail-btn {
          display: none; }
        .official-selection .wrapper .product-content2 .part .operator .product-price {
          text-align: center;
          position: relative;
          top: 6px;
          display: inherit; }
          .official-selection .wrapper .product-content2 .part .operator .product-price i {
            color: #de4037;
            font-weight: 700;
            font-size: 14px;
            font-style: normal;
            line-height: 1.2; }
          .official-selection .wrapper .product-content2 .part .operator .product-price span {
            font-family: Arial;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;
            color: #de4037; }
        .official-selection .wrapper .product-content2 .part .product-cover-link {
          display: inline-block;
          height: 428px;
          width: 305px;
          position: relative;
          top: -362px;
          z-index: 4; }
      .official-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(1) .outer span {
        background: url("./img/20X20 (2).jpg"); }
      .official-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (3).jpg"); }
      .official-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(3) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .official-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(4) .outer span {
        background: url("./img/20X20 (6).jpg"); }
      .official-selection .wrapper .product-content2 .part:nth-child(2) .dot-list li:nth-child(1) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .official-selection .wrapper .product-content2 .part:nth-child(3) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .official-selection .wrapper .product-content2 .part:nth-child(4) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (4).jpg"); }
      .official-selection .wrapper .product-content2 .part:hover .operator .detail-btn {
        display: flex;
        justify-content: space-around; }
        .official-selection .wrapper .product-content2 .part:hover .operator .detail-btn a:nth-child(1) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #e1e1e1;
          border-radius: 4px;
          font-size: 12px;
          color: #646464;
          background: #f9f9f9;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-left: 40px; }
        .official-selection .wrapper .product-content2 .part:hover .operator .detail-btn a:nth-child(2) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #5c81e3;
          border-radius: 4px;
          font-size: 12px;
          color: #fff;
          background: #678ee7;
          background-image: linear-gradient(180deg, #678ee7, #5078df);
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-right: 40px; }
      .official-selection .wrapper .product-content2 .part:hover .operator .product-price {
        display: none; }

.brand-selection {
  width: 1220px;
  height: 920px;
  margin-top: 30px;
  border-radius: 4px;
  overflow: hidden; }
  .brand-selection h5 {
    line-height: 60px;
    background: #fafafa;
    font-size: 100%;
    font-weight: 400;
    padding-left: 30px; }
  .brand-selection .wrapper {
    background: white;
    display: flex;
    flex-flow: row wrap; }
    .brand-selection .wrapper .product-content1 {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 608px;
      height: 428px;
      overflow: hidden;
      display: flex; }
      .brand-selection .wrapper .product-content1 .part {
        list-style: none;
        width: 305px;
        height: 428px; }
        .brand-selection .wrapper .product-content1 .part img {
          display: block;
          margin: 30px auto 40px;
          width: 206px;
          height: 206px; }
        .brand-selection .wrapper .product-content1 .part .info h6 {
          margin-top: -34px;
          overflow: hidden;
          font-size: 16px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #424242;
          font-weight: normal;
          text-align: center; }
        .brand-selection .wrapper .product-content1 .part .info p {
          overflow: hidden;
          padding-top: 7px;
          font-size: 12px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #b2b2b2;
          text-align: center; }
        .brand-selection .wrapper .product-content1 .part .dot-list {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px;
          margin: 20px 0;
          z-index: 9999; }
          .brand-selection .wrapper .product-content1 .part .dot-list li {
            display: inline-block;
            position: relative;
            margin: 0 6px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer; }
            .brand-selection .wrapper .product-content1 .part .dot-list li .outer {
              box-sizing: border-box;
              border: 3px solid #e5e5e5;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              position: relative;
              top: 1px;
              left: 1px; }
              .brand-selection .wrapper .product-content1 .part .dot-list li .outer span {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                box-sizing: border-box;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: url("./img/20X20.jpg");
                background-position: 50%;
                background-size: contain; }
          .brand-selection .wrapper .product-content1 .part .dot-list li:hover .outer {
            margin: 0;
            border: 3px solid #b2b2b2;
            width: 16px;
            height: 16px;
            z-index: 20; }
        .brand-selection .wrapper .product-content1 .part .operator .detail-btn {
          display: none; }
        .brand-selection .wrapper .product-content1 .part .operator .product-price {
          text-align: center;
          position: relative;
          top: 6px;
          display: inherit; }
          .brand-selection .wrapper .product-content1 .part .operator .product-price i {
            color: #de4037;
            font-weight: 700;
            font-size: 14px;
            font-style: normal;
            line-height: 1.2; }
          .brand-selection .wrapper .product-content1 .part .operator .product-price span {
            font-family: Arial;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;
            color: #de4037; }
        .brand-selection .wrapper .product-content1 .part .product-cover-link {
          display: inline-block;
          height: 428px;
          width: 305px;
          position: relative;
          top: -362px;
          z-index: 4; }
      .brand-selection .wrapper .product-content1 .part:nth-child(1) {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
        .brand-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(1) .outer span {
          background: url("./img/20X20 (2).jpg"); }
        .brand-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(2) .outer span {
          background: url("./img/20X20 (3).jpg"); }
        .brand-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(3) .outer span {
          background: url("./img/20X20 (5).jpg"); }
        .brand-selection .wrapper .product-content1 .part:nth-child(1) .dot-list li:nth-child(4) .outer span {
          background: url("./img/20X20 (6).jpg"); }
      .brand-selection .wrapper .product-content1 .part:nth-child(2) .dot-list li:nth-child(1) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .brand-selection .wrapper .product-content1 .part:nth-child(3) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .brand-selection .wrapper .product-content1 .part:nth-child(4) {
        border-right: none; }
        .brand-selection .wrapper .product-content1 .part:nth-child(4) .dot-list li:nth-child(2) .outer span {
          background: url("./img/20X20 (4).jpg"); }
      .brand-selection .wrapper .product-content1 .part:hover .operator .detail-btn {
        display: flex;
        justify-content: space-around; }
        .brand-selection .wrapper .product-content1 .part:hover .operator .detail-btn a:nth-child(1) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #e1e1e1;
          border-radius: 4px;
          font-size: 12px;
          color: #646464;
          background: #f9f9f9;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-left: 40px; }
        .brand-selection .wrapper .product-content1 .part:hover .operator .detail-btn a:nth-child(2) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #5c81e3;
          border-radius: 4px;
          font-size: 12px;
          color: #fff;
          background: #678ee7;
          background-image: linear-gradient(180deg, #678ee7, #5078df);
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-right: 40px; }
      .brand-selection .wrapper .product-content1 .part:hover .operator .product-price {
        display: none; }
    .brand-selection .wrapper .product-content2 {
      display: flex; }
      .brand-selection .wrapper .product-content2 .part {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        width: 305px;
        height: 428px; }
        .brand-selection .wrapper .product-content2 .part img {
          display: block;
          margin: 30px auto 40px;
          width: 206px;
          height: 206px; }
        .brand-selection .wrapper .product-content2 .part .info h6 {
          margin-top: -34px;
          overflow: hidden;
          font-size: 16px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #424242;
          font-weight: normal;
          text-align: center; }
        .brand-selection .wrapper .product-content2 .part .info p {
          overflow: hidden;
          padding-top: 7px;
          font-size: 12px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #b2b2b2;
          text-align: center; }
        .brand-selection .wrapper .product-content2 .part .dot-list {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px;
          margin: 20px 0;
          z-index: 9999; }
          .brand-selection .wrapper .product-content2 .part .dot-list li {
            display: inline-block;
            position: relative;
            margin: 0 6px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer; }
            .brand-selection .wrapper .product-content2 .part .dot-list li .outer {
              box-sizing: border-box;
              border: 3px solid #e5e5e5;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              position: relative;
              top: 1px;
              left: 1px; }
              .brand-selection .wrapper .product-content2 .part .dot-list li .outer span {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                box-sizing: border-box;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: url("./img/20X20.jpg");
                background-position: 50%;
                background-size: contain; }
          .brand-selection .wrapper .product-content2 .part .dot-list li:hover .outer {
            margin: 0;
            border: 3px solid #b2b2b2;
            width: 16px;
            height: 16px;
            z-index: 20; }
        .brand-selection .wrapper .product-content2 .part .operator .detail-btn {
          display: none; }
        .brand-selection .wrapper .product-content2 .part .operator .product-price {
          text-align: center;
          position: relative;
          top: 6px;
          display: inherit; }
          .brand-selection .wrapper .product-content2 .part .operator .product-price i {
            color: #de4037;
            font-weight: 700;
            font-size: 14px;
            font-style: normal;
            line-height: 1.2; }
          .brand-selection .wrapper .product-content2 .part .operator .product-price span {
            font-family: Arial;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;
            color: #de4037; }
        .brand-selection .wrapper .product-content2 .part .product-cover-link {
          display: inline-block;
          height: 428px;
          width: 305px;
          position: relative;
          top: -362px;
          z-index: 4; }
      .brand-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(1) .outer span {
        background: url("./img/20X20 (2).jpg"); }
      .brand-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (3).jpg"); }
      .brand-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(3) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .brand-selection .wrapper .product-content2 .part:nth-child(1) .dot-list li:nth-child(4) .outer span {
        background: url("./img/20X20 (6).jpg"); }
      .brand-selection .wrapper .product-content2 .part:nth-child(2) .dot-list li:nth-child(1) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .brand-selection .wrapper .product-content2 .part:nth-child(3) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (5).jpg"); }
      .brand-selection .wrapper .product-content2 .part:nth-child(4) .dot-list li:nth-child(2) .outer span {
        background: url("./img/20X20 (4).jpg"); }
      .brand-selection .wrapper .product-content2 .part:hover .operator .detail-btn {
        display: flex;
        justify-content: space-around; }
        .brand-selection .wrapper .product-content2 .part:hover .operator .detail-btn a:nth-child(1) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #e1e1e1;
          border-radius: 4px;
          font-size: 12px;
          color: #646464;
          background: #f9f9f9;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-left: 40px; }
        .brand-selection .wrapper .product-content2 .part:hover .operator .detail-btn a:nth-child(2) {
          display: inline-block;
          height: 30px;
          width: 100px;
          border: 1px solid #5c81e3;
          border-radius: 4px;
          font-size: 12px;
          color: #fff;
          background: #678ee7;
          background-image: linear-gradient(180deg, #678ee7, #5078df);
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          margin-right: 40px; }
      .brand-selection .wrapper .product-content2 .part:hover .operator .product-price {
        display: none; }

.smartisan-trends {
  margin-top: 30px;
  border-radius: 4px;
  overflow: hidden;
  width: 1220px;
  height: 260px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .smartisan-trends h5 {
    line-height: 60px;
    background: #fafafa;
    font-size: 100%;
    font-weight: 400;
    padding-left: 30px; }
  .smartisan-trends .wrapper {
    display: flex;
    overflow: hidden; }
    .smartisan-trends .wrapper a img {
      width: 305px;
      overflow: hidden;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }

.smartisan-APPs {
  height: 420px;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden; }
  .smartisan-APPs .container {
    height: 60px;
    display: flex;
    width: 1220px;
    justify-content: space-between;
    background: #fafafa; }
    .smartisan-APPs .container h5 {
      line-height: 60px;
      font-size: 100%;
      font-weight: 400;
      padding-left: 30px; }
    .smartisan-APPs .container .all-apps {
      margin: 14px 20px 0 0;
      display: inline-block;
      text-decoration: none;
      width: 102px;
      height: 32px;
      line-height: 32px;
      background: linear-gradient(#fcfcfc, #f5f5f5);
      font-size: 14px;
      border: 1px solid #dcdcdc;
      color: #5079d9;
      border-radius: 5px;
      text-align: center; }
  .smartisan-APPs .wrapper {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /*
    display: flex;
    a {
        width: 305px;
        border-left: 1px solid rgba(0,0,0,.1);
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    a:nth-child(1) {
        border-left: none; 
    }
    */ }
    .smartisan-APPs .wrapper .app-content {
      width: 305px;
      height: 360px;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .smartisan-APPs .wrapper .app-content .app-img {
        margin: 72px auto 0;
        width: 90px;
        height: 90px;
        background: url("./img/Smartisan-Apps.png"); }
      .smartisan-APPs .wrapper .app-content .info {
        margin: 20px auto 36px; }
        .smartisan-APPs .wrapper .app-content .info h6 {
          overflow: hidden;
          font-size: 16px;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #424242;
          font-weight: normal;
          text-align: center; }
        .smartisan-APPs .wrapper .app-content .info p {
          margin: 20px auto 20px; }
          .smartisan-APPs .wrapper .app-content .info p span {
            display: block;
            overflow: hidden;
            margin-top: 6px;
            font-size: 12px;
            line-height: 1.2;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #b2b2b2;
            text-align: center; }
      .smartisan-APPs .wrapper .app-content .plantform {
        display: flex;
        justify-content: center; }
        .smartisan-APPs .wrapper .app-content .plantform span {
          display: inline-block;
          width: 16px;
          height: 16px; }
    .smartisan-APPs .wrapper .app-content:nth-child(1) .app-img {
      background-position: 0 0; }
    .smartisan-APPs .wrapper .app-content:nth-child(1) .plantform span:nth-child(1) {
      background: url("./img/windows-icon.png");
      margin-right: 10px; }
    .smartisan-APPs .wrapper .app-content:nth-child(1) .plantform span:nth-child(2) {
      background: url("./img/apple-icon.png");
      margin-left: 10px; }
    .smartisan-APPs .wrapper .app-content:nth-child(2) .app-img {
      background-position: -192px 0; }
    .smartisan-APPs .wrapper .app-content:nth-child(2) .plantform span:nth-child(1) {
      background: url("./img/android-icon.png");
      margin-right: 10px; }
    .smartisan-APPs .wrapper .app-content:nth-child(2) .plantform span:nth-child(2) {
      background: url("./img/apple-icon.png");
      margin-left: 10px; }
    .smartisan-APPs .wrapper .app-content:nth-child(3) .app-img {
      background-position: -564px 0; }
    .smartisan-APPs .wrapper .app-content:nth-child(3) .plantform span:nth-child(1) {
      background: url("./img/android-icon.png"); }
    .smartisan-APPs .wrapper .app-content:nth-child(4) {
      border-right: none; }
      .smartisan-APPs .wrapper .app-content:nth-child(4) .app-img {
        background-position: -374px 0; }
      .smartisan-APPs .wrapper .app-content:nth-child(4) .plantform span:nth-child(1) {
        background: url("./img/android-icon.png");
        margin-right: 10px; }
      .smartisan-APPs .wrapper .app-content:nth-child(4) .plantform span:nth-child(2) {
        background: url("./img/apple-icon.png");
        margin-left: 10px; }

.forum-selection {
  height: 422px;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden; }
  .forum-selection .container {
    height: 60px;
    display: flex;
    width: 1220px;
    justify-content: space-between;
    background: #fafafa; }
    .forum-selection .container h5 {
      line-height: 60px;
      font-size: 100%;
      font-weight: 400;
      padding-left: 30px; }
    .forum-selection .container .go-to-forum {
      margin: 14px 20px 0 0;
      display: inline-block;
      text-decoration: none;
      width: 102px;
      height: 32px;
      line-height: 32px;
      background: linear-gradient(#fcfcfc, #f5f5f5);
      font-size: 14px;
      border: 1px solid #dcdcdc;
      color: #5079d9;
      border-radius: 5px;
      text-align: center; }
  .forum-selection ul {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .forum-selection ul li {
      list-style: none;
      width: 25%;
      height: 362px;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .forum-selection ul li img {
        display: block;
        width: 245px;
        height: 156px;
        border-radius: 4px;
        margin: 40px auto 26px; }
      .forum-selection ul li .info {
        width: 245px;
        height: 96px;
        margin: 36px auto; }
        .forum-selection ul li .info h6 {
          margin-top: 14px;
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          color: #424242;
          font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,\\5FAE\8F6F\96C5\9ED1,STHeiti,\\534E\6587\7EC6\9ED1,sans-serif;
          text-align: left;
          font-weight: lighter; }
        .forum-selection ul li .info p {
          margin-top: 13px;
          margin-bottom: 5px;
          font-size: 12px;
          line-height: 18px;
          color: #b2b2b2;
          text-align: left; }
        .forum-selection ul li .info a {
          color: #5079d9;
          cursor: pointer;
          transition: all .15s ease-out;
          text-decoration: none;
          font-size: 12px;
          line-height: 1.2;
          margin-top: 8px; }
      .forum-selection ul li .cover {
        display: inline-block;
        width: 305px;
        height: 362px;
        position: relative;
        top: -365px;
        left: 0px; }
    .forum-selection ul li:nth-child(4) {
      border-right: none; }

footer {
  background: #FAFAFA;
  margin-top: 60px; }
  footer .site-info {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 32px;
    border-bottom: 1px solid #e6e6e6; }
    footer .site-info .info-contents {
      display: flex; }
      footer .site-info .info-contents li {
        width: 150px;
        display: flex;
        flex-flow: column nowrap; }
        footer .site-info .info-contents li h3 {
          color: #646464;
          font-size: 12px;
          padding: 0 0 14px; }
        footer .site-info .info-contents li a {
          color: #969696;
          font-size: 12px;
          padding: 6px 0;
          text-decoration: none; }
        footer .site-info .info-contents li a:hover {
          color: #5079d9; }
    footer .site-info .service {
      text-align: right; }
      footer .site-info .service li:nth-child(1) {
        list-style: none; }
        footer .site-info .service li:nth-child(1) a {
          color: #646464;
          text-decoration: none;
          font-size: 30px; }
      footer .site-info .service li:nth-child(2) {
        list-style: none; }
        footer .site-info .service li:nth-child(2) p {
          margin-top: 8px;
          color: #c3c3c3;
          font-size: 12px; }
      footer .site-info .service li:nth-child(3) {
        list-style: none; }
        footer .site-info .service li:nth-child(3) a {
          margin-top: 8px;
          display: inline-block;
          text-decoration: none;
          width: 102px;
          height: 32px;
          line-height: 32px;
          background: linear-gradient(#fcfcfc, #f5f5f5);
          font-size: 14px;
          border: 1px solid #dcdcdc;
          color: #5079d9;
          border-radius: 5px;
          text-align: center; }
  footer .copyright {
    width: 1220px;
    margin: 0 auto;
    padding: 40px 0; }
    footer .copyright .wrapper {
      width: 1220px; }
      footer .copyright .wrapper p {
        height: 15px;
        line-height: 15px;
        color: #757575;
        font-size: 12px;
        display: inline-block; }
      footer .copyright .wrapper ul {
        display: inline-block;
        margin-left: 12px; }
        footer .copyright .wrapper ul li {
          display: inline-block;
          height: 13px; }
          footer .copyright .wrapper ul li a {
            color: #5079d9;
            text-decoration: none;
            font-size: 12px;
            line-height: 12px;
            border-left: 1px solid #ccc;
            padding: 1px 10px 0; }
    footer .copyright .container {
      margin-top: 20px;
      font-size: 12px;
      color: #bdbdbd; }
      footer .copyright .container span {
        margin-right: 20px; }

/*# sourceMappingURL=index.css.map */
